
@using Microsoft.AspNet.Identity
@using VibeSpace.Controllers
@using VibeSpace.Services
@using VibeSpace.MODELS

@if (Request.IsAuthenticated)
{
    var userId = User.Identity.GetUserId();

    UserInfoService CreateUserInfoService()
    {
        var userService = new UserInfoService(userId);
        return userService;
    };

    UserInfoDetail user = null;
    string username = null;

    if (CreateUserInfoService().GetUsersByUserId(userId) == null)
    {
        username = User.Identity.Name;
    }
    else
    {
        user = CreateUserInfoService().GetUsersByUserId(userId);
        username = user.Name;
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
           
                <li>
                    @{
                        if (CreateUserInfoService().GetUsersByUserId(userId) != null)
                        {


                            if (CreateUserInfoService().GetUsersByUserId(userId).ProfileImage == null)
                            {

                                <img src="~/Content/Images/userDefault.png" class="commentImage" height="50" width="50" style="border-radius:50%;" />

                            }
                            else
                            {
                                user = CreateUserInfoService().GetUsersByUserId(userId);

                                var img = user.ProfileImage;
                                String image64 = Convert.ToBase64String(img);
                                String image64URL = string.Format("data:image/" + "png" + ";base64,{0}", image64); //imagetype can be e.g. gif, jpeg, png etc.
                                <img src="@image64URL" class="commentImage" height="50" width="50" style="border-radius:50%;" />

                            }
                        }
                        else
                        {
                            {

                                <img src="~/Content/Images/userDefault.png" class="commentImage" height="50" width="50" style="border-radius:50%;" />

                            }
                        }

                    }

                </li>
            <li>
                @Html.ActionLink(username + "'s Profile", "Details", "UserInfo", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="popover" title="LOGOUT" data-content="Logout">
                    <i class="fas fa-running"></i>
                    <i class="fas fa-door-open"></i>
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <li>
            <a data-toggle="popover" title="LOGIN" data-content="Login" href="@Url.Action("Login", "Account", new { id = "loginLink" })">
                <i class="fas fa-user-alt"></i>
            </a>
        </li>

    </ul>
}
